/*

//////////defaults//////////////

primary color - #e67e22
Line height- 1
tints- #fdf2e9*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
  /* it does look cool thought but eh */
  /* click tab if you still dont get it */
}

strong {
  font-weight: 500;
}

/*** REPEATABLES****/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}
/* grid that is not the last child can only be the one with margin. */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* new property ofc...this is to make that extra thing on right i.e 
  mediaq.css ka mobile nav ka 
  transform translateX hidden
  (ofc not just that but all extra things like that gets hidden)

  #ONLY WORKS IF THERE IS NOTHING ABSOLUTELT POSITIONED IN RELATION TO THE BODY
  
  */
  overflow-x: hidden;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /*animation usng css for btns(transition property)*/
  transition: all 0.3s;
  /* just for .btn vvvvvvvv */
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: white;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #333;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /*border making jumps so using box shadow property*/

  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  color: #e67e22;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

/****HEADER***/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* sticky head needed fsfr*/
  height: 9.6rem;
  padding: 0 4.8rem;
  /* for mobile based mediaq */
  position: relative;
}

.logo {
  height: 6.4rem;
  stroke: #45260a;
}

/*** NAV  styles****/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav--calltoaction:link,
.main-nav-link.nav--calltoaction:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: white;
  background-color: #e67e22;
  border-radius: 9px;
  /*transition already applied to the papa element */
}

.main-nav-link.nav--calltoaction:hover,
.main-nav-link.nav--calltoaction:active {
  background-color: #cf711f;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* mobile nav styles  */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* we can also select css based on attributes remember? */
/* ofc we couldve just used class but..pateli is !important
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* ^^^^^^^^^^^^^^^^^^^^^ */

/*** HERO HIRALAL****/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  margin: 0 auto;
  padding: 3.2rem;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.margin-right-small {
  margin-right: 1.6rem !important /*just for ukikuk*/;
}

.margin-bottom-med {
  margin-bottom: 4.8rem !important;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs:last-child {
  margin: 0;
}

.delivered-txt {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-txt span {
  color: #cf711f;
  font-weight: 700;
}

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 44%;
}

/* featured in section lol*/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  /* filter property to make img kinda not stand out */
  /* using brightness to make all black isntead of greyscale which makes kinda messy grey */
  filter: brightness(0);
  /* we make better grey via these 2 tricks i.e brightness and opacity also opacity 100 is max visiblity 0 is faded */
  opacity: 50%;
}

.logos img {
  /* ofc using height to make the img look natural company logos ofc ofc */
  height: 3.2rem;
}

/* how it works  */

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-three {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.num--2 {
  text-align: end;
}

/* meals section ofc */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.8rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  /* stroke and fill didnt work so we can go with color {somethimes icon can act like normal font so you can change it in font style as well} */
  color: #e67e22;
}

/* testinmonial section */

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  /* think of fr as percentage...like 50fr 50fr is same as 1fr 1fr..
  (as long as both number are same lol)
  so ofc...this is what i did here */
  grid-template-columns: 55fr 45fr;
  /* ^^^^think as 55% and 45% out of 100..but then again to be technical, 
  you can go more then 100 but why?^^^^ */
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.8rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-txt {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 1.6rem;
}

.gallery-item {
  /* this is to not overflow its parent element(figure) 
  and gives a cool effect too...try with and without this
 style to understand in one go...hard to fucking write it down... */
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* im crying this is so big ya allah ya o mighty allah hu allah */

/* pricing */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  /* bcoz we added 2 px border we had to take away or balance that from padding lol*/
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  /* to hide that extra corners of stickers vvvvvvvvvvvvvvv */
  overflow: hidden;
}

/* sticker shit but so cool VVVVVVVVVVV */
.pricing-plan--complete::after {
  content: "Best value!";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  /* using percentage to make flexible ie not change posi in deff scenerio */
  top: 6%;
  right: -18%;
  /* ^^^^^^^^^^^^^^^^^^^^^ */
  color: #333;
  transform: rotate(45deg);
}
/* ^^^^^^^^^^^^^^ */
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.strikethrough {
  text-decoration: line-through;
}

/* plan details */

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* featuresssssssssssssssssss */

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* CALL TO ACTION (CTA) */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  /* gradient right to bottom eZ */
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-textbox {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-imgbox {
  background-image: linear-gradient(
      to right bottom,
      rgba(238, 164, 100, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  /* force inherit the parent font style and color becoz this mf didnt did it by itself ofc new stuff i learned */
  font-family: inherit;
  color: inherit;
  border-style: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* you can select placeholder too in the pseudo class and more ofc ofc */
.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  /* instead of blue we go for custom one */
  /* it does look cool thought but eh */
  /* click tab if you still dont get it */
}

/* foooooooooooooooooooooterrrrrrrrrrrrrrrr  */

.footer {
  border-top: 1px dotted #ddd;
  padding: 12.8rem 0;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  padding-bottom: 3.4rem;
}

.dotted-border-orange {
  border: 0.1rem rgba(230, 125, 34, 0.411) dotted;
  border-radius: 0.9rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
  font-style: normal;
  color: #767676;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
